In [25]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
#z = a[0:4]
#z[:] = 100

In [26]:
print(a)
print(b)
print(c)
#print(z)

[ 0  1  2  3 40 40  6  7]
[40 40]
46

In [33]:
import re
s = 'ABCAC'

In [35]:
re.search('A', s)

In [38]:
re.split('A', s)

['', 'BC', 'C']

In [41]:
bool(re.match('A', s))

True

In [42]:
import pandas as pd

s = pd.Series(a)
s

0     0
1     1
2     2
3     3
4    40
5    40
6     6
7     7
dtype: int32

In [44]:
s.index[6]

6

In [45]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [46]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [50]:
S[S <= 3][S > 0][S != 2]

b    1
d    3
dtype: int32

In [51]:
S[1:4]

b    1
c    2
d    3
dtype: int32

In [52]:
a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [56]:
df = pd.DataFrame([[5,6,20],[5,82,28],[71,31,92],[67,37,49]])
df

    0   1   2
0   5   6  20
1   5  82  28
2  71  31  92
3  67  37  49

In [57]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new

0     76
1     88
2    112
dtype: int64